doctype html
html
  head
    title="Simple AJAX, Express, API example"
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    section.section
      block header
    section.section
      block content
    block scripts
      script(src="application.js" type="application/javascript")